@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFBBD;
    color: #5B00B5;
}

/* heading and logo */

h1 {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 4px;
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* image and opening statement */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    text-align: center;
}

#menu li {
    list-style: none;
    display: inline;
    text-align: center;
    padding-left: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

