@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFBBD;
    color: #5B00B5;
}

/* heading and logo */

h1 {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 4px;
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'kaushan Script', cursive;
    font-size: 50px;
    margin-left: 60px;
    text-align: center;
}

/* images */

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#oda-clan {
    height: 206px;
    width: 170px;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

.picture {
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* opening statement */

 #opening {
    margin-left: 40px;
    margin-right: 40px;
    font-size: large;
     text-align: center;
  }

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    text-align: center;
}

#menu li {
    list-style: none;
    display: inline;
    text-align: center;
    padding-left: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

/* information style */

p {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    font-size: x-large;
    margin-left: 60px;
}